design/*.orig.*
design/*.toc.*

# Ignore all binaries
# from being committed.
hack/tools/bin
# Ignore mdbook boilerplate
# from being committed.
docs/user-guide/book

# Ignore revealjs plugin
# and dist directories
# from being commited
docs/presentations/dist
docs/presentations/plugin

# Development containers (https://containers.dev/)
.devcontainer
.claude

